<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
    <link rel="stylesheet" href="stylesheets/bootstrap.css" type="text/css">  
  </head>
  <body id="page-top">
    <p>Username: <%=@user.username%></p><br>
    <p>User Password: <%=@user.password%></p><br>
    <p>Account Balance: <%=@user.balance%></p>
    <a href="/logout">Log Out</a>
  </body>
</html>